<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('/assets/background_ucenik.jpeg')">
    <div class="container-fluid" style="background-image: url('/assets/background_ucenik.jpeg')">
        <router-outlet></router-outlet>
        <div class="row" style="border-radius: 50px; background-color: rgba(0, 128, 0, 0.632); margin-top: 20%;">
        </div>
    </div>
</body>
</html>